In [116]:
import pandas as pd
import numpy as np
import math

In [2]:
quali_df = pd.read_csv('qualifying.csv')
quali_df

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
9090,9131,1051,8,51,7,16,1:23.156,\N,\N
9091,9132,1051,849,3,6,17,1:23.213,\N,\N
9092,9133,1051,841,51,99,18,1:23.262,\N,\N
9093,9134,1051,854,210,47,19,1:23.407,\N,\N
9094,9135,1051,853,210,9,20,1:25.859,\N,\N

In [54]:
drivers_df = pd.read_csv('drivers.csv')
drivers_df['dob'] = pd.to_datetime(drivers_df['dob'])

In [71]:
year = races_df[races_df['race_id'] == race_id]['year']

KeyError: 'race_id'

In [122]:
quali_differences_df = pd.DataFrame(columns=['driverId', 'forename', 'surname', 'difference', 'age', 'year', 'circuit'])
#quali_differences_df = pd.DataFrame(columns=['difference', 'age'])


for index, row in quali_df.iterrows():
    race_id = row['raceId']
    constructor_id = row['constructorId']
    driver_id = row['driverId']
    teammate = quali_df[(quali_df['raceId'] == race_id) & (quali_df['constructorId'] == constructor_id) & (quali_df['driverId'] != driver_id)]
    if len(teammate) == 1:
        q = ''
        if (row['q3'] != '\\N' and teammate['q3'].item() != '\\N') and not (isinstance(row['q3'], float) or isinstance(teammate['q3'].item(), float)):
            q = 'q3'
        elif (row['q2'] != '\\N' and teammate['q2'].item() != '\\N') and not (isinstance(row['q2'], float) or isinstance(teammate['q2'].item(), float)):
            q = 'q2'
        elif (row['q1'] != '\\N' and teammate['q1'].item() != '\\N') and not (isinstance(row['q1'], float) or isinstance(teammate['q1'].item(), float)):
            q = 'q1'
        #else:
            #print(f'Invalid row: {row=}, {teammate=}')
        if q != '':
            quali_time_regex = re.match(r"(?P<m>[0-9]+):(?P<s>[0-9]+).(?P<ms>[0-9]+)", row[q])
            quali_time_sec = timedelta(minutes=float(quali_time_regex['m']),seconds=float(quali_time_regex['s']),milliseconds=float(quali_time_regex['ms'])).total_seconds()
            teammate_time_regex = re.match(r"(?P<m>[0-9]+):(?P<s>[0-9]+).(?P<ms>[0-9]+)", teammate[q].item())
            teammate_time_sec = timedelta(minutes=float(teammate_time_regex['m']),seconds=float(teammate_time_regex['s']),milliseconds=float(teammate_time_regex['ms'])).total_seconds()
            difference = quali_time_sec - teammate_time_sec

            forename = drivers_df[drivers_df['driverId'] == driver_id]['forename'].item()
            surname = drivers_df[drivers_df['driverId'] == driver_id]['surname'].item()
            year = races_df[races_df['raceId'] == race_id]['year'].item()
            age = year-drivers_df[drivers_df['driverId'] == driver_id]['dob'].item().year
            circuit = races_df[races_df['raceId'] == race_id]['name'].item()
            quali_differences_df = quali_differences_df.append(pd.DataFrame([[driver_id, forename, surname, difference, age, year, circuit]], columns=['driverId', 'forename', 'surname', 'difference', 'age', 'year', 'circuit']))
            #quali_differences_df = quali_differences_df.append(pd.DataFrame([[difference, age]], columns=['difference', 'age']))
            #print('asd')

In [121]:
isinstance(1.0, float)

True

In [101]:
circuit.item()

'Austrian Grand Prix'

In [ ]:
pd.DataFrame([[driver_id, forename, surname, difference, age, year, circuit]], columns=['driverId', 'forename', 'surname', 'difference', 'age', 'year', 'circuit'])

In [123]:
quali_differences_df.reset_index(drop=True, inplace=True)
quali_differences_df

   driverId  forename     surname  difference age  year                circuit
0         1     Lewis    Hamilton      -0.365  23  2008  Australian Grand Prix
0         9    Robert      Kubica      -0.367  24  2008  Australian Grand Prix
0         5    Heikki  Kovalainen       0.365  27  2008  Australian Grand Prix
0        13    Felipe       Massa      -0.146  27  2008  Australian Grand Prix
0         2      Nick    Heidfeld       0.367  31  2008  Australian Grand Prix
..      ...       ...         ...         ...  ..   ...                    ...
0         8      Kimi   Räikkönen      -0.106  42  2021       Qatar Grand Prix
0       849  Nicholas      Latifi       0.350  26  2021       Qatar Grand Prix
0       841   Antonio  Giovinazzi       0.106  28  2021       Qatar Grand Prix
0       854      Mick  Schumacher      -2.452  22  2021       Qatar Grand Prix
0       853    Nikita     Mazepin       2.452  22  2021       Qatar Grand Prix

[8810 rows x 7 columns]

In [146]:
quali_differences_df

,driverId,forename,surname,difference,age,year,circuit
0,1,Lewis,Hamilton,-0.365,23,2008,Australian Grand Prix
1,9,Robert,Kubica,-0.367,24,2008,Australian Grand Prix
2,5,Heikki,Kovalainen,0.365,27,2008,Australian Grand Prix
3,13,Felipe,Massa,-0.146,27,2008,Australian Grand Prix
4,2,Nick,Heidfeld,0.367,31,2008,Australian Grand Prix
...,...,...,...,...,...,...,...
8805,8,Kimi,Räikkönen,-0.106,42,2021,Qatar Grand Prix
8806,849,Nicholas,Latifi,0.350,26,2021,Qatar Grand Prix
8807,841,Antonio,Giovinazzi,0.106,28,2021,Qatar Grand Prix
8808,854,Mick,Schumacher,-2.452,22,2021,Qatar Grand Prix
8809,853,Nikita,Mazepin,2.452,22,2021,Qatar Grand Prix

In [149]:
driver_means = quali_differences_df.groupby('driverId').mean()

In [165]:
driver_means

          difference
driverId
1          -0.083696
2          -0.050863
3          -0.200574
4          -0.049029
5          -0.004777
...              ...
850         0.515500
851         0.096000
852         0.688222
853         0.909778
854        -0.909778

[164 rows x 1 columns]

In [161]:
row['driverId']

2

In [166]:
for index, row in quali_differences_df.iterrows():
    driver_id = row['driverId']
    # driver id is the index in driver_means
    driver_mean = driver_means[driver_means.index == driver_id]['difference'].item()
    print(f"{driver_id=}, ")
    quali_differences_df.at[index, 'difference'] =- driver_mean

In [167]:
quali_differences_df

,driverId,forename,surname,difference,age,year,circuit
0,1,Lewis,Hamilton,0.083696,23,2008,Australian Grand Prix
1,9,Robert,Kubica,0.025927,24,2008,Australian Grand Prix
2,5,Heikki,Kovalainen,0.004777,27,2008,Australian Grand Prix
3,13,Felipe,Massa,-0.099592,27,2008,Australian Grand Prix
4,2,Nick,Heidfeld,0.050863,31,2008,Australian Grand Prix
...,...,...,...,...,...,...,...
8805,8,Kimi,Räikkönen,0.068391,42,2021,Qatar Grand Prix
8806,849,Nicholas,Latifi,-0.777541,26,2021,Qatar Grand Prix
8807,841,Antonio,Giovinazzi,0.025456,28,2021,Qatar Grand Prix
8808,854,Mick,Schumacher,0.909778,22,2021,Qatar Grand Prix
8809,853,Nikita,Mazepin,-0.909778,22,2021,Qatar Grand Prix

In [68]:
teammate

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079

In [26]:
s = quali_df[(quali_df['raceId'] == 18) & (quali_df['constructorId'] == 11) & (quali_df['driverId'] == 22)]['q2'].item()
import re
m = re.match(r"(?P<m>[0-9]+):(?P<s>[0-9]+).(?P<ms>[0-9]+)", s)
groups = m.groupdict()
groups['ms']

'173'

In [33]:
quali_df[(quali_df['raceId'] == 18) & (quali_df['constructorId'] == 11) & (quali_df['driverId'] == 22)]['q2'].item()

False

In [27]:
from datetime import timedelta as td
timedelta(minutes=float(groups['m']),seconds=float(groups['s']),milliseconds=float(groups['ms'])).total_seconds()

86.173

In [33]:
_, row = next(quali_df.iterrows())

In [36]:
row['driverId']

1

In [56]:

drivers_df

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
848,850,pietro_fittipaldi,51,FIT,Pietro,Fittipaldi,1996-06-25,Brazilian,http://en.wikipedia.org/wiki/Pietro_Fittipaldi
849,851,aitken,89,AIT,Jack,Aitken,1995-09-23,British,http://en.wikipedia.org/wiki/Jack_Aitken
850,852,tsunoda,22,TSU,Yuki,Tsunoda,2000-05-11,Japanese,http://en.wikipedia.org/wiki/Yuki_Tsunoda
851,853,mazepin,9,MAZ,Nikita,Mazepin,1999-03-02,Russian,http://en.wikipedia.org/wiki/Nikita_Mazepin
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher

In [58]:
drivers_df['dob'].dt.year

0      1985
1      1977
2      1985
3      1981
4      1981
       ...
848    1996
849    1995
850    2000
851    1999
852    1999
Name: dob, Length: 853, dtype: int64

In [55]:
drivers_df['dob'] = pd.to_datetime(drivers_df['dob'])

In [52]:
races_df['year']

0       2009
1       2009
2       2009
3       2009
4       2009
        ...
1052    2021
1053    2021
1054    2021
1055    2021
1056    2021
Name: year, Length: 1057, dtype: int64

In [50]:
races_df

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
...,...,...,...,...,...,...,...,...
1052,1069,2021,17,69,United States Grand Prix,2021-10-24,19:00:00,http://en.wikipedia.org/wiki/2021_United_State...
1053,1070,2021,18,32,Mexico City Grand Prix,2021-11-07,19:00:00,http://en.wikipedia.org/wiki/2021_Mexican_Gran...
1054,1071,2021,19,18,São Paulo Grand Prix,2021-11-14,17:00:00,http://en.wikipedia.org/wiki/São_Paulo_Grand_Prix
1055,1072,2021,21,77,Saudi Arabian Grand Prix,2021-12-05,17:30:00,http://en.wikipedia.org/wiki/2021_Saudi_Arabia...
1056,1073,2021,22,24,Abu Dhabi Grand Prix,2021-12-12,13:00:00,http://en.wikipedia.org/wiki/2021_Abu_Dhabi_Gr...

In [11]:
pd.read_csv('constructors.csv')

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team